/* CSS Document */
html, body, img, div, a, span { 
	margin:0; 
	padding:0; 
}
html, body { 
	height:100%; 
	width:100%; 
	font-family: tahoma; 
	color:#fff;
	font-size:12px;
	background:url(/theme/img/body_bg.png) #000; 
}

a {
	outline:none; 
	color:#5b5b5b;
}
img {
	border:none;
}

.error { 
	border:1px #F00 dashed; 
	padding:5px; 
	color:#F00; 
	background: #000;
	font-size:12px; 
	font-weight:normal; 
	margin:5px 0 10px 0;
}

.header { 
	position:absolute; 
	width:100%; 
	height:260px; 
	left:0;
}
.header .header_resize { 
	width:100%; 
	height:260px; 
	margin:0 auto; 
	position:relative;
	background:url(/theme/img/top_pattern.png) top center; 
}

.header .header_resize .fStyle {
	width:1000px;
	height:200px;
	margin:0 auto;
	position:relative;
}

.header .header_resize .fStyle .newLogo {
	width:216px;
	height:184px;
	margin: 0 0 0 382px;
	float:left;
	position:relative;
}

.header .header_resize .fStyle .newLogo #bgNoHover {
	width:216px;
	height:184px;
	position:absolute;
	background:url(/theme/img/header_logo_bg1.png) top center; 
	z-index:100;
}

.header .header_resize .fStyle .newLogo #bgHover {
	width:216px;
	height:184px;
	position:absolute;
	background:url(/theme/img/header_logo_bg2.png) top center; 
	z-index:200;
}

.header .header_resize .fStyle .newLogo #logo {
	width:216px;
	height:184px;
	position:absolute;
	z-index:300;
	background:url(/theme/img/logo.png) top center no-repeat;
}

.header .header_resize .fStyle .topContacts {
	float:right;
	width:310px;
	height:200px;
}

.header .header_resize .fStyle .topContacts .tcContainer {
	background:url(/theme/img/opacity75black.png) top center; 
	margin:10px 0 25px 0;
	padding:20px;
}

.header .header_resize .fStyle .topContacts .tcContainer p {
	padding:0;
	margin:0 0 5px 0;
	font-size:18px;
}

.header .header_resize .main_menu {
	height:60px;
	width:100%;
	background:url(/theme/img/menu_bg1.png) top center no-repeat; 
	position:relative;
}

.header .header_resize .main_menu .menuLevel2 {
	height:52px;
	width:100%;
	background:url(/theme/img/menu_bg2.png) 4px center repeat-x;
	padding:4px 0 4px 0;
}

.header .header_resize .main_menu .menuLevel2 .mainMenuContainer {
	height:52px;
	width:1000px;
	margin:0 auto;
}


/*  Главное меню и миникорзина  */
.menu ul, .menu li { list-style:none; margin:0; padding:0; }
.menu ul { width:1000px; margin:0 auto; }
.menu li { float:left; height:52px; position:relative; }
.menu li a { color:#fff; font-size:20px; text-decoration:none; white-space:nowrap; height:52px; display:inline-block; padding:0 12px; }
.menu li a span { padding:12px 0 0; display:block; }
.menu li a:hover { background:url(/theme/img/menu_bg3.png) repeat-x center; }
.menu li a:hover span { border-bottom:1px solid #fff; }
.menu li a.active { background:url(/theme/img/menu_bg3.png) repeat-x center; }
.menu li a.active span { border-bottom:1px solid #fff; }
.menu li ul { width:auto; margin:0; position:absolute; top:52px; left:0; background:url(/theme/img/menu_bg4.png); padding:5px 15px; display:none; }
.menu li.hover ul { display:block; }
.menu li ul li { padding:0; margin:0; height:auto; float:none; display:block; }
.menu li ul li a { height:33px; padding:0 0 0 18px; margin:10px 0; display:block; background:url(/theme/img/menu_bg5a.png) no-repeat top left; }
.menu li ul li a span { padding:4px 18px 0 0; color:#fff; text-decoration:none; display:block; background:url(/theme/img/menu_bg5b.png) top right; height:29px; font-size:18px; }
.menu li ul li a:hover { background:url(/theme/img/menu_bg6a.png) no-repeat top left; }
.menu li ul li a:hover span { background:url(/theme/img/menu_bg6b.png) top right; border:none; color:#570707; }
.menu li ul li a.active { background:url(/theme/img/menu_bg6a.png) no-repeat top left; }
.menu li ul li a.active span { background:url(/theme/img/menu_bg6b.png) top right; border:none; color:#570707; }

/*----*/






.body {
	width:100%;
	margin:0 auto;
	height:auto !important;
	height:100%;
	min-height:100%;
}

.body .container {
	width:100%;
	background:url(/theme/img/header_gradient.png) top center repeat-x;
	
}

.body .container .columns {
	width:1000px;
	margin:0 auto;
	padding:30px 0 0 0;
}

.body .container .columns .leftColumn {
	width:330px;
	float:left;
}

.leftColumn .topPalette {
	width:330px;
	margin:0 0 25px 0;
}

.leftColumn .topPalette .topPattern {
	width:330px;
	height:51px;
	margin:0 0 10px 0;
	background:url(/theme/img/sep2.png) bottom center no-repeat;
}

.leftColumn .topPalette .plashkaTop {
	width:330px;
	height:20px;
	margin:0 0 0 0;
	background:url(/theme/img/plashka_top.png) bottom center no-repeat;
}

.leftColumn .topPalette .plashkaCenter {
	width:290px;
	margin:0 0 0 0;
	padding:5px 20px 15px 20px;
	background:url(/theme/img/plashka_center.png) top center repeat-y;
}

.leftColumn .topPalette .plashkaCenter .feedbackActivator {
	display:block;
	padding:5px;
	font-size:24px; 
	font-weight:normal; 
	color:#fff;
	font-family:Times new roman;
	text-decoration:none;
	background:url(/theme/img/q_hidden.png) 260px center no-repeat #333333;
    border: 1px solid #CC0000;
}

.leftColumn .topPalette .plashkaCenter .feedbackActivatorActive {
	display:block;
	padding:5px;
	font-size:24px; 
	font-weight:normal; 
	color:#fff;
	font-family:Times new roman;
	text-decoration:none;
	background:url(/theme/img/q_showed.png) 260px center no-repeat #333333;
    border: 1px solid #CC0000;
}

.leftColumn .topPalette .plashkaCenter .feedback {
	
}

.leftColumn .topPalette .plashkaCenter .feedback .success {
	font-size:24px; 
	font-weight:normal; 
	color:green;
}

.leftColumn .topPalette .plashkaCenter .feedback dt {
	float:left;
	clear:both;
	padding:0;
	font-size:14px;
	font-weight:bold;
	width:100px;
	margin:0 15px 15px 0;
}

.leftColumn .topPalette .plashkaCenter .feedback dd {
	float:right;
	margin:0;
	padding:0;
	width:175px;
	margin:0 0 15px 0;
}

.leftColumn .topPalette .plashkaCenter .feedback dd input {
	width:175px;
	height:20px;
	padding:0;
	margin:0;
} 

.leftColumn .topPalette .plashkaCenter .feedback #question-label {
	float:none;
	width:290px;
}

.leftColumn .topPalette .plashkaCenter .feedback #question-element {
	float:none;
	width:290px;
}

.leftColumn .topPalette .plashkaCenter .feedback #question-element textarea {
	width:290px;
	height:200px;
	padding:0;
	margin:0;
}

.leftColumn .topPalette .plashkaCenter .feedback #submit-element #submit {
	width:175px;
	height:30px;
	padding:0;
	margin:0;
}

.leftColumn .topPalette .plashkaBottom {
	width:330px;
	height:20px;
	margin:0 0 0 0;
	background:url(/theme/img/plashka_bottom.png) top center no-repeat;
}

.leftColumn .topPalette .bottomPattern {
	width:330px;
	height:51px;
	margin:10px 0 0 0;
	background:url(/theme/img/sep3.png) top center no-repeat;
}

.leftColumn .benefits {
	width:330px;
	height:60px;
	display:block;
	background:url(/theme/img/preim.png) top center repeat-x;
	margin:0 0 25px 0;
}

#image-fader {
	display: block;
	width: 320px;
	height: 240px;
	margin: 0 auto;
	position: relative;
}
#image-fader img {
	display: block;
	width: 320px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
}
#image-fader div {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	z-index: 100;
	font-size: 18px;
	padding: 5px;
	background: url("/theme/img/opacity50black.png");
}

.body .container .columns .rightColumn {
	width:640px;
	float:right;
}

.footer { 
	width:100%; 
	height:135px; 
	margin-top:-135px;  
}

.footer .footerGradient {
	width:100%; 
	height:65px; 
	background:url(/theme/img/footer_bg1.png) top center repeat-x;
}

.footer .footerContainer {
	width:100%; 
	height:70px;
	background:url(/theme/img/footer_bg2.png) top center no-repeat;
}

.footer .footerContainer .footer_resize {
	width:1000px;
	height:70px;
	margin:0 auto;
}

.copyright { height:24px; }
.copyright .copyright_text { float:left; padding:3px 0 0; margin-left:36px; margin-top:-25px; color:#666; font-size:11px; font-family:Tahoma; font-weight:bold; }
.copyright .performer_logo {
	float:right;
	display:inline-block;
	height:16px;
	font-size:11px;
	text-decoration:none;
	font-family:Tahoma;
	color:#aaa;
	padding:2px 68px 0 0;
	margin:30px 30px 0 0;
	background:url(/theme/img/logo_obs_gray2.png) no-repeat right;
}

.copyright .performer_logo2 {
	float:right;
	display:inline-block;
	height:16px;
	font-size:11px;
	text-decoration:none;
	font-family:Tahoma;
	color:#aaa;
	padding:2px 68px 0 0;
	margin:30px 30px 0 0;
	/*background:url(/theme/default/img/logo_obs_gray2.png) no-repeat right;*/
}
.copyright .performer_logo:hover { color:#666; }

.push1 { 
	height:260px;
}
.push2 { 
	height:155px;
}
.clear { 
	clear:both;
}



h1 { 
	margin:0; 
	padding:0; 
	font-size:28px; 
	font-weight:normal; 
	color:#fff;
	font-family:Times new roman; 
	padding-bottom:10px;
}

h2 { 
	margin:0; 
	padding:0; 
	font-size:24px; 
	font-weight:normal; 
	color:#fff;
	font-family:Times new roman; 
	padding-bottom:10px;
}
h3 { 
	margin:0; 
	padding:0; 
	font-size:22px; 
	font-weight:normal; 
	color:#757575; 
	margin-bottom:10px;
}

h6 {
	margin:0; 
	padding:0; 
	font-size:18px; 
	font-weight:normal; 
	color:#757575; 
	margin-bottom:10px;
}

.rightModuleContainer {
	padding: 0 0 12px 0;
	margin:0 0 30px 0;
	background:url(/theme/img/sep1.png) bottom center no-repeat;
}

.rightModuleContainer .gallery {
	margin: 0 0 15px 0;
}

.rightModuleContainer .gallery a {
	text-decoration:none;
	display:block;
	float:left;
	margin:0 10px 25px 0;
}

.rightModuleContainer .text {
	margin:0 0 25px 0;
}

.rightModuleContainer .jMoreLink {
	color:#fff;
	font-family:Times new roman; 
	font-size:20px;
	display:block;
	margin:0 0 25px 0;
}

.rightModuleContainer a {
	color: #fff;
	font-weight:bold;
}

.rightModuleContainer .newItem {
	margin:0 0 25px 0;
	border-bottom:1px dashed #ccc;
	padding:0 0 10px 0;
}

.rightModuleContainer .newItem .newsDate {
	float:left;
	width:140px;
	font-weight:bold;
}

.rightModuleContainer .newItem .newsText {
	float:right;
	width:470px;
}

.rightModuleContainer .newItem .newsText p {
	margin:0;
	padding:0 0 5px 0;
}

.defaultContentListContainer {
	
}

.defaultContentListContainer h1 {
	padding:0 0 25px 0;
}

.defaultContentListContainer .breadCumps {
	margin:0 0 25px 0;
}

.defaultContentListContainer .breadCumps a {
	color:#fff;
}

.defaultContentListContainer .subcatsMenu {
	margin:0;
	padding:0;
}

.defaultContentListContainer .subcatsMenu li {
	display:block;
	float:left;
	margin:0 15px 25px 0;
}

.defaultContentListContainer .subcatsMenu li a {
	color:#97272f;
	font-weight:bold;
	font-size:14px;
}


.defaultContentListContainer .defaultContentList {
	
}

.defaultContentListContainer .defaultContentList .item {
	margin:0 0 25px 0;
	padding:0 0 10px 0;
	border-bottom:1px dashed #ccc;
}

.defaultContentListContainer .defaultContentList .item .image {
	display:block;
	width:120px;
	height:120px;
	float:left;
	margin:5px 0 0 0;
} 

.defaultContentListContainer .defaultContentList .item .textContainer {
	width:505px;
	float:right;
}

.defaultContentListContainer .defaultContentList .item .textContainerNoImage {
	width:640px;
}

.defaultContentListContainer .defaultContentList .item .textContainer .title,
.defaultContentListContainer .defaultContentList .item .textContainerNoImage .title {
	color:#fff;
	font-size:18px;
	display:block;
	padding:0 0 15px 0;
}

.defaultContentListContainer .defaultContentList .item .textContainer .introtext p,
.defaultContentListContainer .defaultContentList .item .textContainerNoImage .introtext p {
	padding:0;
	margin:0 0 5px 0;
}

.defaultContentItemContainer {
	
}

.defaultContentItemContainer h1 {
	padding:0 0 25px 0;
}

.defaultContentItemContainer .breadCumps {
	margin:0 0 25px 0;
}

.defaultContentItemContainer .breadCumps a {
	color:#fff;
}

.leftModuleContainer {
	margin:0 0 25px 0;
}

.leftModuleContainer .offersItem {
	width:290px;
	margin:0 0 15px 0;
}

.leftModuleContainer .offersItem .offerImg {
	width:100px;
	margin:0 20px 0 0;
	float:left;
}

.leftModuleContainer .offersItem .offerText {
	width:170px;
	float:right;
}

.leftModuleContainer .offersItem .offerText .title{
	display:block;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	margin:0 0 10px 0;
}

.defaultContentItemContainer .categoryItem {
	display:block;
	width:160px;
	height:180px;
	float:left;
	background:top center no-repeat;
	text-decoration:none;
	margin:0 50px 0 0;
}

.defaultContentItemContainer .categoryItem span {
	display:block;
	margin:130px 0 0 0;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
}


.defaultContentItemContainer .childCategoryItem {
	display:block;
	margin:0 0 35px 0;
	padding:0 0 10px 0;
	border-bottom:1px dashed #ccc;
}

.defaultContentItemContainer .childCategoryItem .img {
	display:block;
	width:160px;
	height:120px;
	margin:3px 15px 0 0;
	float:left;
	text-align:center;
}

.defaultContentItemContainer .childCategoryItem .text {
	display:block; 
	float:right;
	width:460px;
	color:#fff;
} 

.defaultContentItemContainer .childCategoryItem .text .title {
	font-size:20px;
	text-decoration:underline;
}

.defaultContentItemContainer .subcatsMenu {
	margin:0;
	padding:15px 15px 0 15px;
	list-style: none;
	border:1px solid #97272f;
	background-color:#000;
}

.defaultContentItemContainer .subcatsMenu li {
	color:#fff;
	font-weight:bold;
	font-size:18px;
	float:left;
	margin:0 15px 15px 0;
}

.defaultContentItemContainer .subcatsMenu li a {
	color:#97272f;
}


.defaultContentItemContainer .goodItem {
	display:block;
	width:150px;
	float:left;
	margin:0 53px 50px 0;
}

.defaultContentItemContainer .goodItem .descLink {
	color:#fff;
	display:block;
	width:150px;
	text-align:center;
	margin:5px 0 10px 0;
}

.defaultContentItemContainer .goodContainer {
	
}

.defaultContentItemContainer .goodContainer .goodImage {
	float:left;
	width:200px;
	display:block;
	margin:3px 0 0 0;
}

.defaultContentItemContainer .goodContainer .description {
	float:right;
	width:420px;
}

.defaultContentItemContainer .goodContainer .description .price {
	padding:15px;
	background:#000;
	margin:25px 0 0 0;
	font-size:18px;
	float:left;
	border:1px dashed green;
}

.defaultContentItemContainer .goodContainer .description .price span {
	color:green;
}

.defaultContentItemContainer .catText {
	margin:0 0 25px 0;
}
